.App {
  text-align: center;
}

.container {
  padding-top: 15px;
}

.btn + .btn {
  margin-left: 15px;
}

.btn.btn-cancel {
  background: #cccccc;
}

.table > thead > tr > th {
  text-align: center;
}
